{% extends 'Navbar/projectnavbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/logincss.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{% url 'UserLoginLogic' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}
</body>
</html>
